<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
                        
<!-- 네임스페이스(사용영역) 설정 -->
<mapper namespace="com.sjinvest.sos.interest.mapper.InterestMapper">
	<resultMap type="Interest" id="interestResultMap">
		<result column="interest_seq" property="interestSeq" />
		<result column="user_seq" property="userSeq" />
		<result column="company_number" property="companyNumber" />
		<result column="company_name" property="companyName" />
	</resultMap>
	<!-- 관심목록 추가 -->
	<insert id="add" parameterType="Interest">
		INSERT INTO interest 
            (interest_seq, 
             user_seq, 
             company_number, 
             company_name) 
		VALUES
		    (interest_seq.NEXTVAL, 
             #{userSeq}, 
             #{companyNumber}, 
             #{companyName}) 
	</insert>
	<!-- 관심종목 삭제 -->
	<delete id="delete" parameterType="Integer">
		DELETE FROM interest
		WHERE
		interest_seq = #{value}
	</delete>
	<!-- 특정 유저 관심 목록 -->
	<select id="listByUser" parameterType="Integer" resultType="Interest" resultMap="interestResultMap">
		SELECT interest_seq, 
		       user_seq, 
		       company_number, 
		       company_name 
		FROM   interest 
		WHERE  user_seq = #{value}
	</select>
	
	<!-- 특정 유저 관심종목 삭제 -->
	<delete id="deleteByUser" parameterType="Integer">
		DELETE FROM interest
		WHERE
		user_seq = #{value}
	</delete>
	<!-- 특정 유저-회사 관심 여부 확인 -->
	<select id="check" parameterType="map" resultType="Interest" resultMap="interestResultMap">
		SELECT interest_seq, 
		       user_seq, 
		       company_number, 
		       company_name 
		FROM   interest 
		WHERE  user_seq = #{userSeq}
			   AND company_number = #{companyNumber}
	</select>
</mapper>