<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 네임스페이스(사용영역) 설정 -->
<mapper namespace="com.sjinvest.sos.user.mapper.UserMapper">
	<resultMap type="User" id="userResultMap">
		<result column="user_seq" property="userSeq" />
		<result column="user_id" property="userId" />
		<result column="user_password" property="userPw" />
		<result column="user_nickname" property="userNickname" />
		<result column="user_email" property="userEmail" />
		<result column="user_point" property="userPoint" />
		<result column="user_detail" property="userDetail" />
		<result column="user_picture" property="userPicture" />
		<result column="user_regdate" property="userRegdate" />
		<result column="user_money" property="userMoney" />
		<result column="user_gender" property="userGender" />
		<result column="user_birth" property="userBirth" />
		<result column="user_authority" property="userAuthority" />
	</resultMap>
	<insert id="create" parameterType="User">
	</insert>
</mapper>