<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
                        
<!-- 네임스페이스(사용영역) 설정 -->
<mapper namespace="com.sjinvest.sos.point.mapper.PointMapper">
	<resultMap type="Point" id="pointResultMap">
		<result column="point_seq" property="pointSeq" />
		<result column="user_seq" property="userSeq" />
		<result column="point_content" property="pointContent" />
		<result column="point_amount" property="pointAmount" />
		<result column="point_date" property="pointDate" />
	</resultMap>
	<!-- 포인트 만들기 -->
	<insert id="create" parameterType="Point">
		INSERT INTO point 
            (point_seq, 
             user_seq, 
             point_content, 
             point_amount) 
		VALUES
		    (point_seq.NEXTVAL, 
             #{userSeq}, 
             #{pointContent}, 
             #{pointAmount}) 
	</insert>
	<!-- 특정 유저 포인트 내역 -->
	<select id="listByUser" parameterType="Integer" resultType="Point" resultMap="pointResultMap">
		SELECT point_seq, 
		       user_seq, 
		       point_content, 
		       point_amount, 
		       point_date 
		FROM   point 
		WHERE  user_seq = #{value}
	</select>
	<!-- 특정 유저 포인트 삭제 -->
	<delete id="deleteByUser" parameterType="Integer">
		DELETE FROM point
		WHERE
		user_seq = #{value}
	</delete>
</mapper>