<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 네임스페이스(사용영역) 설정 -->
<mapper namespace="com.sjinvest.sos.trading.mapper.TradingMapper">
	<resultMap type="Trading" id="tradingResultMap">
		<result column="trading_seq" property="tradingSeq" />
		<result column="user_seq" property="userSeq" />
		<result column="company_number" property="companyNumber" />
		<result column="company_name" property="companyName" />
		<result column="trading_type" property="tradingType" />
		<result column="trading_time" property="tradingTime" />
		<result column="trading_price" property="tradingPrice" />
		<result column="trading_amount" property="tradingAmount" />
		<result column="trading_earnings_ratio" property="tradingEarningsRatio" />
	</resultMap>
	<!-- 거래 등록 -->
	<insert id="create" parameterType="Trading">
		INSERT INTO trading
		(trading_seq,
		user_seq,
		company_number,
		company_name,
		trading_type,
		trading_price,
		trading_amount,
		trading_earnings_ratio
		)
		VALUES
		(trading_seq.NEXTVAL,
		#{userSeq},
		#{companyNumber},
		#{companyName},
		#{tradingType},
		#{tradingPrice},
		#{tradingAmount},
		#{tradingEarningsRatio})
	</insert>
	<!-- 특정 유저 거래 목록 -->
	<select id="listByUser" parameterType="map" resultType="Trading"
		resultMap="tradingResultMap">
		SELECT B.trading_seq, 
	       B.user_seq, 
	       B.company_number, 
	       B.company_name, 
	       B.trading_type, 
	       B.trading_time, 
	       B.trading_price, 
	       B.trading_amount, 
	       B.trading_earnings_ratio 
		FROM  (SELECT /*+INDEX_DESC(A feed_seq)*/ ROWNUM AS rnum, 
		                                          A.trading_seq, 
		                                          A.user_seq, 
		                                          A.company_number, 
		                                          A.company_name, 
		                                          A.trading_type, 
		                                          A.trading_time, 
		                                          A.trading_price, 
		                                          A.trading_amount, 
		                                          A.trading_earnings_ratio 
		       FROM  (SELECT trading_seq, 
		                     user_seq, 
		                     company_number, 
		                     company_name, 
		                     trading_type, 
		                     trading_time, 
		                     trading_price, 
		                     trading_amount, 
		                     trading_earnings_ratio 
		              FROM   trading 
				<where>
					<if test="userSeq != null">
						user_seq = #{userSeq}
					</if>
					<if test="tradingType != null">
						AND trading_type = #{tradingType}
					</if>
					<if test="startDate != null and endDate != null">
						AND trading_time <![CDATA[>=]]> TO_DATE(#{startDate},'YYYY-MM-DD') AND trading_Time <![CDATA[<]]> TO_DATE(#{endDate},'YYYY-MM-DD')
					</if>
				</where>
		       ORDER  BY trading_time DESC) A 
		       	<if test="endNum != null">
		       WHERE  ROWNUM <![CDATA[<=]]> #{endNum}
				</if>
		       ) B 
		       	<if test="startNum != null">
		       WHERE  B.rnum <![CDATA[>=]]> #{startNum}
				</if>
	</select>
	<!-- 조건 별 특정 유저 거래 목록 수-->
	<select id="countByUser" parameterType="map" resultType="Integer">
			  SELECT COUNT(trading_seq) 
		      FROM   trading 
			  <where>
				<if test="userSeq != null">
					user_seq = #{userSeq}
				</if>
				<if test="tradingType != null">
					AND trading_type = #{tradingType}
				</if>
				<if test="startDate != null and endDate != null">
					AND trading_time <![CDATA[>=]]> TO_DATE(#{startDate},'YYYY-MM-DD') AND trading_Time <![CDATA[<]]> TO_DATE(#{endDate},'YYYY-MM-DD')
				</if>
			  </where>
	</select>
	<!-- 수익률 top5 -->
	<select id="earningRatio" resultType="map" parameterType="Integer">
			SELECT c.user_seq       user_seq, 
			       c.earnings_ratio earnings_ratio 
			FROM   (SELECT each_value.user_seq, 
			               ( each_value.a - each_value.b ) / each_value.b * 100 
			               earnings_ratio 
			        FROM   (SELECT user_seq, 
			                       Sum(trading_price * trading_amount) a, 
			                       Sum(( ( 100 / ( 100 + trading_earnings_ratio ) ) * 
			                             trading_price 
			                           ) * 
			                           trading_amount)                 b 
			                FROM   trading 
			                WHERE  trading_type = 2 
			                GROUP  BY user_seq) each_value) c 
			WHERE  ROWNUM <![CDATA[<=]]> #{value} 
			ORDER  BY earnings_ratio DESC
	</select>
	<!-- 특정 유저 보유주식 삭제 -->
	<delete id="deleteTradingByUser" parameterType="Integer">
		DELETE FROM trading
		WHERE
		user_seq = #{value}
	</delete>
</mapper>