<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 네임스페이스(사용영역) 설정 -->
<mapper namespace="com.sjinvest.sos.field.mapper.FieldMapper">
	<resultMap type="Field" id="fieldResultMap">
		<result column="field_number" property="fieldNumber" />
		<result column="field_name" property="fieldName" />
		<result column="field_detail" property="fieldDetail" />
	</resultMap>
	<select id="readByNumber" parameterType="Integer" resultType="Field" resultMap="fieldResultMap">
	   SELECT field_number, 
       field_name, 
       field_detail 
	   FROM   field 
       WHERE  field_number = #{value} 
	</select>
	<select id="readByName" parameterType="String" resultType="Field" resultMap="fieldResultMap">
	   SELECT field_number, 
       field_name, 
       field_detail 
	   FROM   field 
       WHERE  field_name = #{value} 
	</select>
	<select id="list" resultType="Field" resultMap="fieldResultMap">
	   SELECT field_number, 
       field_name, 
       field_detail 
	   FROM   field
	</select>
	<select id="findField" resultType="String">
	   SELECT CONCAT('@', field_name) field_name
	   FROM   field
	   WHERE  field_name like '%' || #{value} || '%' and ROWNUM <![CDATA[<=]]> 10
	</select>
</mapper>